<!DOCTYPE html>
<html style="background-color: #e5e9f0" lang="zh-CN" xmlns:th="https://www.thymeleaf.org"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>


    <meta charset="UTF-8">
    <title>疫情防控监管预录入端</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">




    <link rel="icon" th:href="@{/img/icons/favicon.ico}"/>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap">



    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <!--h5适配-->
  <!--  <script type="text/javascript" th:src="@{/plugins/lib-flexible/flexible.js}"></script>
-->
    <script type="text/javascript" th:src="@{/plugins/jquery/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{/plugins/vue/index.css}"/>

</head>
<body>
index
</body>
</html>